<!DOCTYPE html>
<div class="container">
  <div class="search mb-[1em] text-center">
    <form action="" #searchForm="ngForm" (ngSubmit)="onSubmit()">
      <input 
        type="text" 
        placeholder="Enter Location" 
        name="city"
        [(ngModel)]="cityName"
        class="bg-darkBg border-none outline-none rounded-[20px] p-[1em] text-white text-[0.8em] text-center"
      >
    </form>
  </div>

  <div class="container-interface" *ngIf="weatherData">

    <div class="upper-data">
      <img class="weather" src="assets/hot.jpeg" *ngIf="weatherData.main.temp > 15">
      <img class="weather" src="assets/cold.jpeg" *ngIf="weatherData.main.temp <= 15">
      <img 
        src="assets/sunny.png" 
        *ngIf="weatherData.main.temp > 15"
        class="pic-sunny absolute right-3 w-12 h-12 mt-10"
      >

      <div class="weather-data relative z-10 w-[100%] h-[100%] bg-darkBg flex flex-col items-center justify-center">
        <div class="font-[600] text-[1.4em] text-white">
          <p>{{ weatherData.name}}</p>
        </div>

        <div class="pl-2 left-0 top-0 pt-5 absolute justify-start font-[600] text-[0.8em] text-white">
          <p>{{ formatCoordinates(weatherData.coord.lat, weatherData.coord.lon) }}</p>
          <p>{{ getLocalDate() }}</p>
          <p>{{ getLocalTime() }}</p>
          <p>{{ weatherData.sys.country}}</p>
        </div>
    
        <div class="text-[4em] font-[900] p-2 text-center text-white">
          <p class="p-5">{{ weatherData.main.temp | number: '1.0-0' }}&deg;C</p>
        </div>

        <div class="text-[0.8em] font-[600] text-left text-white">
          <p class="pl-2 left-0 bottom-7 absolute justify-start">{{ weatherData.weather[0].description}}</p>
          <p class="pl-2 left-0 bottom-1 absolute justify-start">Feels Like {{ weatherData.main.feels_like | number: '1.0-0' }}&deg;C</p>
        </div>
      </div>
    </div>

    <div class="lower-data flex flex-col p-[0.5em] relative overflow-hidden w-[100%] h-[50%] rounded-b-[1em]">
      <div class="weather-info-label text-[15px] font-semibold text-black">
        More Information
      </div>
      <div class="weather-info-container flex flex-row flex-wrap flex-1 bg-darkBg rounded-b-[1em] mt-[0.5em]">

        <div class="weather-info-block w-[50%] flex flex-row" *ngFor="let weather of weatherDetails">
          <div class="weather-info-block-label w-[50%] flex flex-col items-center justify-center">
            <img [src]="weather.icon" alt="" class="w-[2em]">
            <span class="text-white text-[0.8em]">{{ weather.label }}</span>
          </div>
          <div class="weather-info-block-value w-[50%] flex justify-start items-center text-white">
            {{ weather.value}}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>